* { 
    /* Tells mobile browsers to disable e.g. double-tap to zoom */
    touch-action: manipulation;
}

body {
    margin: 0; /* remove default margin */
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    color: #333;
}
